<!--     Author- Jose Muniz       -->
<!--     StudentID-301316969     -->
<!--     Last Updated on 05/02/2023      -->

<div> <figure class="text-center my-5">
    <h2 class="display-3"><strong>Who am I?</strong></h2>
     </figure></div>

      <div class="card mb-3" style="margin: auto; padding: 5%;">
        <div class="row g-0">
          <div class="col-md-4 text-center">
            <img src="images\IMG01.JPEG" class="img-fluid rounded-start" alt="..." style="width:80%">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h1 class="card-title">Name - Jose Muniz</h1>
              <h2 class="card-title">Student ID – 301316969</h2>
              
              <p class="card-text" style="padding-right: 50%;">I possess a Bachelor’s Degree in Computer Science Engineering.Which I completed in 1995.<br>
                I am from the south American nation of Chile.<br>
                I am now pursuing a degree in Software Engineering Technology—Artificial Intelligence at Centennial College in Canada. <br>
                I participated in this Diploma programme in order to expand my knowledge of artificial intelligence (AI) and gain some ideas to utilise in the Financial Services industry, where I presently work.<br>
                I am extremely interested in technology and data processing.<br>
                </p>
                <a href="Others\Jose_Muniz_Summary_2023.pdf" class="btn btn-primary btn-lg enabled" tabindex="-1" role="button" aria-disabled="true" download="Resume">Download Resume</a> -->
              
            </div>
          </div>
        </div>
      </div>