<!--     Author- Jose Muniz    -->
<!--     StudentID-301316969     -->
<!--     Last Updated on 05/02/2023 -->
<div> 
    <figure class="text-center">
        <h3 class="display-3"><strong>Contact Me </strong></h3>
        <h3> </h3>
    <hr style="border-top: 2px  solid dark;">
    </figure>
</div>
    <dl class="row" style="padding: auto; margin: auto;">
        <dt class="col-sm-3">My Phone Number</dt>
        <dd class="col-sm-9">+1-6478689050.</dd>
      
        <dt class="col-sm-3">My Email Address</dt>
        <dd class="col-sm-9">jmunizvi@my.centennialcollege.ca</dd>
      
        <dt class="col-sm-3">My Current Address </dt>
        <dd class="col-sm-9">115 Blue jays way, Toronto </dd>
      
        <dt class="col-sm-3 text-truncate">linkedin</dt>
        <dd class="col-sm-9"><a href="https://www.linkedin.com/in/jmunizv/">linkedin.com/in/jmunizv</a></dd>
    </dl>
