<!--     Author- Jose Muniz       -->
<!--     StudentID-301316969     -->
<!--     Last Updated on 05/02/2023      -->
<div class="bg-cover" >
    <div class="text-center py-40">
      <blockquote class="blockquote">
        <h1 class="display-3"><strong>Welcome to my Portfolio</strong></h1>
      </blockquote>
      <figcaption class="blockquote-footer" style="width: 60%;margin-left: 20%;margin-right: 20%;" >
        <h3 class="display-6">
         My purpose is to create and implement a data strategy that leverages the bank's data assets to deliver
         business value, improve customer experience, and identify and prioritize data initiatives that support 
         the bank's overall strategy. I want to foster a data-driven decision-making culture by providing data 
         insights and recommendations to key stakeholders.
        </h3>
        <hr>
        <h3 class="display-7">Click the link below to know more about me.</h3>
      </figcaption>

      <a href="aboutme" class="btn btn-primary btn-lg">About Me</a>
    </div>
  </div>