<!--     Author- Jose Muniz       -->
<!--     StudentID-301316969     -->
<!--     Last Updated on 05/02/2023 -->

<div class="text-center my-5">
  <h2 class="display-4"><strong>Recent Projects</strong></h2>
  <h3> </h3>
    <hr style="border-top: 2px  solid dark;">
</div>

<div class="card-group">
  <div class="card">
    <img src="images/project1.jpg" class="card-img-top mx-auto d-block" alt="Migration Project" height="200px">
    <div class="card-body">
      <h4 class="card-title">Migration Project</h4>
      <p class="card-text" style="font-size: larger;">Migrated data platform from Cloudera Datalake to Microsoft Azure with a redesigned data ingestion and services operations.</p>
    </div>
  </div>
  <div class="card">
    <img src="images/project2.jpg" class="card-img-top mx-auto d-block" alt="Payment Platform" height="200px">
    <div class="card-body">
      <h4 class="card-title">Payment Platform</h4>
      <p class="card-text" style="font-size: larger;">Implemented a new Microsoft Azure data platform for digital payments, capable of near-real-time and batch file ingestion.</p>
    </div>
  </div>
  <div class="card">
    <img src="images/project3.jpg" class="card-img-top mx-auto d-block" alt="Salesforce Migration" height="200px">
    <div class="card-body">
      <h4 class="card-title">Salesforce Migration</h4>
      <p class="card-text" style="font-size: larger;">Enabled Salesforce platform and migrated sales information and historical data.</p>
    </div>
  </div>
</div>

<div class="text-center my-3">
  <small class="text-muted">Images from Google, not associated with me.</small>
</div>
