<!--     Author- Jose Muniz       -->
<!--     StudentID-301316969      -->
<!--     Last Updated on 05/02/2023-->

<div> 
    <figure class="text-center my-5">
        <h2 class="display-4"><strong>I can offer the following services </strong></h2>
        <h3> </h3>
    <hr style="border-top: 2px  solid dark;">
    </figure>
</div>

<div class="card-group">
    <div class="card">
      <img src="images/service1.jpg" class="card-img-top mx-auto d-block" alt="Consulting Services" height="200px">
      <div class="card-body">
        <h4 class="card-title">Consulting services</h4>
        <p class="card-title">Consulting services for Data Architecture Strategy, Data Architecture Design, and Implementation.</p>
     </div>
    </div>
    <div class="card">
      <img src="images/service2.jpg" class="card-img-top mx-auto d-block" alt="Project Managenment" height="200px">
      <div class="card-body">
        <h4 class="card-title">Project Management</h4>
        <p class="card-title">Project management of implementation and operations of data platforms in the cloud.</p>
     </div>
    </div>
    <div class="card">
      <img src="images/service3.jpg" class="card-img-top mx-auto d-block" alt="Migration Services" height="200px">
      <div class="card-body">
        <h4 class="card-title">Migration Services</h4>
        <p class="card-title">Development of data migration projects on on-premises or cloud platforms.</p>
     </div>
    </div>
    <div class="card">
        <img src="images/service4.jpg" class="card-img-top mx-auto d-block" alt="Data Governance" height="200px" >
        <div class="card-body">
            <h4 class="card-title">Data Governance</h4> 
            <p class="card-title">Data governance, data catalog, data lineage, and data quality services.</p>
       </div>
      </div>

</div>